/SatteliteManagment/SatteliteManagment/obj
/SatteliteManagment/SatteliteManagment/bin
/SatteliteManagment/.vs
/SatteliteManagment/.vs
/SatteliteManagment/.vs
/SatteliteManagment/.vs/SatteliteManagment
SatteliteManagment/.vs/SatteliteManagment/CopilotIndices/17.14.1577.30250/CodeChunks.db
SatteliteManagment/.vs/SatteliteManagment/CopilotIndices/17.14.1577.30250/CodeChunks.db
SatteliteManagment/.vs/SatteliteManagment/CopilotIndices/17.14.1577.30250/SemanticSymbols.db
